## redo this [Python Tutorial for Beginners 3: Integers and Floats - Working with Numeric Data](https://www.youtube.com/watch?v=khKv-8q7YmY&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=3)

In [1]:
# Arithmetic Operators:
# Addition: 3 + 2
# Subtraction: 3 - 2
# Multiplication: 3 * 2
# Division: 3 / 2
# Floor Division: 3 // 2
# Exponent: 3 ** 2
# Modulus: 3 % 2

print(3 % 2)

1

### Increment

`num = num + 1` or `num += 1`

### Absolute value

`abs(-3)`

### Round

`round(3.75 [, 1])`

In [2]:
# Comparisions
# Equal: 3 == 2
# Not Equal: 3 != 2
# Greater Than: 3 > 2
# Less Than: 3 < 2
# Greater or Equal: 3 >= 2
# Less or Equal: 3 <= 2

### Casting

to an integer
`int()`

## [Python Tutorial for Beginners 4: Lists, Tuples, and Sets](https://www.youtube.com/watch?v=W8KRzm-HUcc&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=4)

### Lists

In [3]:
courses = ['History', 'Math', 'Physics', 'CompSci']

# print entire list
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [4]:
# get length of list
print(len(courses))

4

In [5]:
# first item of list
print(courses[0])

History

In [6]:
# last item hardcoded
print(courses[3])

CompSci

In [7]:
# last item
print(courses[-1])

CompSci

In [8]:
# out of range error
print(courses[4])

IndexError: list index out of range

In [9]:
# slicing

# select first two elements
print(courses[0:2])
# or
print(courses[:2])

['History', 'Math']
['History', 'Math']

In [10]:
print(courses[2:])

['Physics', 'CompSci']

In [11]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [12]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.insert(0, 'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

In [13]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']
courses.insert(0, courses_2)
print(courses)

[['Art', 'Education'], 'History', 'Math', 'Physics', 'CompSci']

In [14]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']
courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

In [15]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']
courses.append(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', ['Art', 'Education']]

In [16]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci']

In [17]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.pop()
print(courses)

['History', 'Math', 'Physics']

In [18]:
courses = ['History', 'Math', 'Physics', 'CompSci']
popped = courses.pop()
print(popped)
print(courses)

CompSci
['History', 'Math', 'Physics']

In [19]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.reverse()
print(courses)

['CompSci', 'Physics', 'Math', 'History']

In [20]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.sort()
print(courses)

['CompSci', 'History', 'Math', 'Physics']

In [21]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [1, 5, 2, 4, 3]
courses.sort()
nums.sort()
print(courses)
print(nums)

['CompSci', 'History', 'Math', 'Physics']
[1, 2, 3, 4, 5]

In [22]:
courses = ['History', 'Math', 'Physics', 'CompSci']
nums = [1, 5, 2, 4, 3]
courses.sort(reverse=True)
nums.sort(reverse=True)
print(courses)
print(nums)

['Physics', 'Math', 'History', 'CompSci']
[5, 4, 3, 2, 1]

In [23]:
courses = ['History', 'Math', 'Physics', 'CompSci']
# doesn't alter courses list (original)
sorted_courses = sorted(courses)
print(sorted_courses)

['CompSci', 'History', 'Math', 'Physics']

In [24]:
nums = [1, 5, 2, 4, 3]
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

In [25]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses.index('CompSci'))

3

In [26]:
print(courses.index('Art'))

ValueError: 'Art' is not in list

In [27]:
print('Art' in courses)
print('Math' in courses)

False
True

In [28]:
for item in courses:
    print(item)

History
Math
Physics
CompSci

In [29]:
for index, course in enumerate(courses):
    print(index, course)

0 History
1 Math
2 Physics
3 CompSci

In [30]:
for index, course in enumerate(courses, start=1):
    print(index, course)

1 History
2 Math
3 Physics
4 CompSci

# 18:14