## [Python Tutorial for Beginners 3: Integers and Floats - Working with Numeric Data](https://www.youtube.com/watch?v=khKv-8q7YmY&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=3)

### Integer Data Type

In [1]:
num = 3

print(type(num))

<class 'int'>

### Float Data Type

In [2]:
num = 3.14

print(type(num))

<class 'float'>

### Arithmetic Operators

#### Addition

In [3]:
print(3 + 2)

5

#### Subtraction

In [4]:
print(3 - 2)

1

#### Multiplication

In [5]:
print(3 * 2)

6

#### Division (python3)

In [6]:
print(3 / 2)

1.5

#### Floor Division

In [7]:
print(3 // 2)

1

#### Exponentiation

In [8]:
print(3 ** 2)

9

#### Modulus

In [9]:
print(3 % 2)

1

In [10]:
print(2 % 2)
print(3 % 2)
print(4 % 2)
print(5 % 2)

0
1
0
1

#### Order of Operations

In [11]:
print(3 * 2 + 1)

7

In [12]:
print(3 * (2 + 1))

9

### Increment

In [13]:
num = 1
num = num + 1
print(num)

2

In [14]:
num = 1
num += 1
print(num)

2

In [15]:
num = 1
num *= 10
print(num)

10

### Absolute Value

In [16]:
print(abs(-3))

3

### Round

In [17]:
print(round(3.75))

4

In [18]:
print(round(3.75, 1))

3.8

### Comparisons

#### Equals

In [19]:
num_1 = 3
num_2 = 2

print(num_1 == num_2)

False

#### Not Equals

In [20]:
num_1 = 3
num_2 = 2

print(num_1 != num_2)

True

#### Greater Than

In [21]:
num_1 = 3
num_2 = 2

print(num_1 > num_2)

True

#### Less Than

In [22]:
num_1 = 3
num_2 = 2

print(num_1 < num_2)

False

#### Greater Than or Equals

In [23]:
num_1 = 3
num_2 = 2

print(num_1 >= num_2)

True

#### Less Than or Equals

In [24]:
num_1 = 3
num_2 = 2

print(num_1 <= num_2)

False

### Concatenation of Strings

In [25]:
num_1 = '100'
num_2 = '200'
print(num_1 + num_2)

100200

### Casting to Integers

In [26]:
num_1 = '100'
num_2 = '200'
num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

300