## [Python Tutorial for Beginners 5 - Dictionaries - Working with Key-Value Pairs](https://www.youtube.com/watch?v=daefaLgNkw0)

In [3]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

In [4]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student['name'])

John

In [5]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student['courses'])

['Math', 'CompSci']

In [6]:
student = {1: 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student[1])

John

In [7]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
cprint(student['phone'])

KeyError: 'phone'

In [8]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.get('name'))

John

In [9]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.get('phone'))

None

In [10]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.get('phone', 'Not Found'))

Not Found

In [12]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
student['phone'] = '555-5555'
print(student.get('phone', 'Not Found'))

555-5555

In [13]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
student['phone'] = '555-5555'
student['name'] = 'Jane'
print(student)

{'name': 'Jane', 'age': 25, 'courses': ['Math', 'CompSci'], 'phone': '555-5555'}

In [14]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
student.update({'name': 'Jane', 'age': 26, 'phone': '555-5555'})
print(student)

{'name': 'Jane', 'age': 26, 'courses': ['Math', 'CompSci'], 'phone': '555-5555'}

In [16]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
del student['age']
print(student)

{'name': 'John', 'courses': ['Math', 'CompSci']}

In [17]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
age = student.pop('age')
print(student)
print(age)

{'name': 'John', 'courses': ['Math', 'CompSci']}
25

In [17]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
age = student.pop('age')
print(student)
print(age)

{'name': 'John', 'courses': ['Math', 'CompSci']}
25

In [18]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(len(student))

3

In [19]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.keys())

dict_keys(['name', 'age', 'courses'])

In [20]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.values())

dict_values(['John', 25, ['Math', 'CompSci']])

In [21]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.items())

dict_items([('name', 'John'), ('age', 25), ('courses', ['Math', 'CompSci'])])

In [22]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
for key in student:
    print(key)

name
age
courses

In [23]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']

In [23]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']